@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@1,600&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */

/* seletor universal
reset ded propriedades */
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
body {font-family: 'Quicksand' sans-serif;
    color: rgb(0, 0, 0);
    background-color: gray;
}

header {
    
    background-color: #000000

}

/* classe genérica */
.grid-layout {

    width: 80%;
    margin: 0 auto;
    
}

header .header-flex {
    display: flex;
    justify-content: space-between  ;

}

header nav {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    

}

header nav a {
    text-decoration: none;
    color: white;
}


header h1 {
color: rgb(255, 255, 255);




}


header h1 #logoux {

font-family: 'Titilium web', sans-serif;
text-transform: uppercase;
font-style: italic;
font-weight: 600px;
color: white;
}

#lapis {
width: 100%;
margin: 0 auto;
}




main .colunas-flex {

display: flex;
justify-content: space-between;
margin-top: 2%;
}

/* section */
main .coluna1 {
width: 75%;
background-color: white;
}
/* asides */
main .coluna2 {
width: 23%;
}
main .coluna2 article {
background-color: white;
margin-bottom: 20px;
}

.grid-layout {
align-items: ;



}





